header
{
  display: flex;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: center;

  nav
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;

    > span
    {
      cursor: pointer;
      &:hover
      {
        color: #777;
      }
    }

    ul
    {
      list-style: none;
      display: flex;
      flex-direction: row;

      .list-separator{
        margin-left: 4px;
        margin-right: 4px;
      }

      .list-item
      {
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
        &:hover
        {
          color: #777;
        }
      }

    }
  }
}

a
{
  color: white;
}
